.beranda {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .beranda .div {
    overflow: hidden;
    background: linear-gradient(
      0deg,
      rgba(8, 179, 214, 1) 0%,
      rgba(8, 179, 214, 1) 100%
    );
    width: 1440px;
    height: 1163px;
    position: relative;
  }
  
  .beranda .overlap {
    position: absolute;
    width: 1440px;
    height: 424px;
    top: 0;
    left: 0;
  }
  
  .beranda .header {
    position: absolute;
    width: 1440px;
    height: 374px;
    top: 0;
    left: 0;
    background-image: url(./img/header.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .beranda .element {
    position: absolute;
    width: 1440px;
    height: 50px;
    top: 374px;
    left: 0;
    background-color: #e4a951;
    border-radius: 0px 0px 50px 50px;
  }
  
  .beranda .text-wrapper {
    position: absolute;
    height: 50px;
    top: 373px;
    left: 50px;
    font-family: "Kulim Park-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 49.6px;
    white-space: nowrap;
  }
  
  .beranda .text-wrapper-2 {
    position: absolute;
    height: 50px;
    top: 373px;
    left: 265px;
    font-family: "Kulim Park-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 49.6px;
    white-space: nowrap;
  }
  
  .beranda .text-wrapper-3 {
    position: absolute;
    height: 50px;
    top: 373px;
    left: 482px;
    font-family: "Kulim Park-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 49.6px;
    white-space: nowrap;
  }
  
  .beranda .foto {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 475px;
    left: 420px;
    overflow-x: scroll;
    background-image: url(./img/1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .beranda .foto::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  
  .beranda .img {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 695px;
    object-fit: cover;
  }
  
  .beranda .element-2 {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 1390px;
    object-fit: cover;
  }
  
  .beranda .element-3 {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 2085px;
    object-fit: cover;
  }
  
  .beranda .element-4 {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 2780px;
    object-fit: cover;
  }
  
  .beranda .footer {
    position: absolute;
    width: 1440px;
    height: 337px;
    top: 826px;
    left: 0;
    background-color: transparent;
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(
      180deg,
      rgba(255, 241, 18, 1) 0%,
      rgba(8, 179, 214, 1) 100%
    );
  }
  
  .beranda .p {
    position: absolute;
    top: 283px;
    left: 520px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .beranda .tentang-kami {
    position: absolute;
    width: 116px;
    height: 102px;
    top: 118px;
    left: 187px;
    background-color: #e4a951;
    border-radius: 20px;
  }
  
  .beranda .overlap-group {
    position: relative;
    width: 99px;
    height: 82px;
    top: 9px;
    left: 9px;
  }
  
  .beranda .img-2 {
    position: absolute;
    width: 66px;
    height: 61px;
    top: 0;
    left: 17px;
  }
  
  .beranda .text-wrapper-4 {
    position: absolute;
    width: 99px;
    height: 29px;
    top: 54px;
    left: 0;
    font-family: "Kulim Park-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .beranda .program-kegiatan {
    position: absolute;
    width: 116px;
    height: 102px;
    top: 118px;
    left: 504px;
    background-color: #e4a951;
    border-radius: 20px;
  }
  
  .beranda .program-kegiatan-2 {
    position: absolute;
    width: 99px;
    height: 29px;
    top: 54px;
    left: 0;
    font-family: "Kulim Park-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16.9px;
  }
  
  .beranda .dokumentasi {
    position: absolute;
    width: 116px;
    height: 102px;
    top: 118px;
    left: 820px;
    background-color: #e4a951;
    border-radius: 20px;
  }
  
  .beranda .berita {
    position: absolute;
    width: 116px;
    height: 102px;
    top: 118px;
    left: 1136px;
    background-color: #e4a951;
    border-radius: 20px;
  }
  
  .box {
    width: 1440px;
    height: 165px;
  }
  
  .box .nav-bar {
    position: fixed;
    width: 1442px;
    height: 165px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 1440px;
    height: 165px;
    background-color: #fff112;
    border-radius: 100px;
  }
  
  .box .rectangle {
    position: absolute;
    width: 1308px;
    height: 111px;
    top: 27px;
    left: 66px;
    background-color: #08b3d6;
    border-radius: 100px;
  }
  
  .box .text-wrapper {
    position: absolute;
    width: 987px;
    height: 73px;
    top: 46px;
    left: 314px;
    font-family: "Kulim Park-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .logo-GERKATIN-DPC {
    position: absolute;
    width: 100px;
    height: 111px;
    top: 27px;
    left: 215px;
    object-fit: cover;
  }
  